{% extends  '::layout.html.twig' %}
{% block content %}
	test<hr>
	{{ icon('pencil') }}<hr>
	{{ mopa_bootstrap_icon('pencil') }}<hr>
	
	{{ icon('home') }}<hr>
	{{ mopa_bootstrap_icon('star') }}<hr>

	<span class="glyphicon-class">glyphicon glyphicon-user</span>
{% endblock  %}

