{#% extends  '::layout.html.twig' %#}
{% extends  '::layoutMopaTest.html.twig' %}

{% block content %}
	test<hr>
	{{icon('home')}} <hr>
	<span class="glyphicon glyphicon-user"></span>
{% endblock  %}

